*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.contanier{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #ff9dcf;
}
.contanier .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.hero nav .logo{
    color: #801f82;
    font-size: 45px;
    font-weight: bold;
}
.hero nav .nav-links a {
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
    color: #801f82;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.hero .content .div-text{
    width: 40%;
}
.hero .content .div-img{
    width: 40%;
}
.hero .content .div-img{
    width:100%;
}
.hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}
.hero .content .div-text h4{
    color: #801f82;
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-text .btn{
    padding: 15px 20px;
    background-color: #801f82;
    border: 2px solid #801f82;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.hero .content .div-text .btn:hover{
    color: #801f82;
    transition: 0.3s;
    background-color: transparent;
}

.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: #801f82;
    margin-bottom: 20px;
    transition: 0.4s;
}
.soc-link a i:hover{
    color: #ff9dcf;
}


/* animation */

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.hero .logo{
    animation-delay: 0.2s;
}
.hero .content .div-text h1{
    animation-delay: 0.5s;
}
.hero .content .div-text h4{
    animation-delay: 0.9s;
}
.hero .content .div-text .btn{
    animation-delay: 1.8s;
}
.contact {
    max-width: 800px;
    margin: 0 auto;
}

.contact-us-main-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3456d3;
    align-content: center;
    animation: forwards;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #f7fafc;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact form label {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #161616;
}

.contact form label i {
    margin-right: 10px;
    color: #161616;
}

.contact form input,
.contact form textarea {
    width: 80%;
    padding: 12px;
   
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.contact form input:focus,
.contact form textarea:focus {
    border-color: #38b2ac;
    outline: none;
}

.contact form button {
    padding: 12px 20px;
    background-color: #38b2ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s;
}

.contact form button:hover {
    background-color: #319795;
    transform: translateY(-2px);
}
.contact-info{
    max-width: 800px;
    margin: 0 auto;

}

.contact-info-main-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3456d3;
    align-content: center;
    animation: forwards;
}
.body{
    font-family: Helvetica, Arial, sans-serif;
  }
  .container{
    width: 50%;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;}
    .bar.front::before{
      background-color: #ffcc33;
    }
    .bar.back::before{
      background-color: #a6cfe3;
    }
    
    .bar.learning::before{
      width: calc(20% - 10px);
    }
    .bar.basic::before{
      width: calc(40% - 10px);
    }
    .bar.intermediate::before{
      width: calc(60% - 10px);
    }
    .bar.advanced::before{
      width: calc(80% - 10px);
    }
    .bar.expert::before{
      width: calc(100% - 10px);
    }
    *Styling the About section*/ .about {
        width: 100%;
        height: 100vh;
        padding: 150px 0px;
        background-color: #e8e9e3;
      }
      
      .about img {
        height: auto;
        width: 430px;
        border-radius: 30px;
        box-shadow: rgba(26, 24, 24, 0.25) 0px 5px 10px 2px;
      }
      
      .about-text {
        width: 550px;
      }
      
      /* about container */
      
      .main {
        width: 1130px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .heading{
        font-size: 2.5em;
    margin-bottom: 20px;
    color: #330c33;
    align-content: center;
    animation: forwards;
      }
      
      .about-text h2 {
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 20px;
        font-weight: bold;
        color: #195cc8;
        font-family: 'Fraunces', serif;
      }
      
      .about-text h5 {
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
        font-weight: bold;
        color: black;
        font-family: 'Frances', serif;
      }
      
      .about-text p {
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
      }
      
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
    background: #f00;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #ff4f4f;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #ffb84f;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #3dca5c;
}
.card:nth-child(5), .card:nth-child(5):before{
    background: #565252;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.hero .content .div-img img{
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
